.gifts-container {
  width: 100%;
  align-items: center;
  background-color: #f1f0e8;
  padding: 20px;
  text-align: center;
}

.gifts-container h1 {
  font-family: "Rochester", cursive;
  text-align: center;
  font-size: 2.5rem;
  color: #644117;
}

.gifts-container p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1rem;
  color: #644117;
}

.gifts-container img {
  width: 20%;
}
